@model IEnumerable<Week7LabPin.Models.Interest>

@{
    ViewBag.Title = "Index";
}

<div class="container" ng-controller="interestCtrl as ctrl">
    <div ng-repeat="interest in interests" class="col-md-4 col-sm-6 text-center" ng-class="{'clearfix' : $index % 3 == 0}">
         <img ng-src="{{interest.Link}}" /><br/>
            <a ng-href="{{interest.URL}}">View Here</a>
            <p>{{interest.Comment}}</p>
    </div>

</div>

@section scripts {
    <script>
       ( function () {
           var app = angular.module('interests', []);

           app.controller('interestCtrl', function ($scope, $http) {
               this.interests = [];
               $http.get('@Url.Action("List", "Interests")').success(function (data) {
                   $scope.interests = data;
               });
           });
           app.controller('submitCtrl', function ($scope, $http) {
               this.addPin = function (interest) {
                   $http.post('/Interest/New/', interest);
                   $scope.interest = {};
               };
           });
       })();
        
    </script>
    }